<!--About Section-->
<section class="about-section-three" id="scroll-section">
<figure class="floated-image-1"><img src="/assets/images/resource/featured-image-8.jpg" alt=""></figure>
<figure class="floated-image-2"><img src="/assets/images/resource/featured-image-9.jpg" alt=""></figure>
<div class="auto-container">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="row clearfix">
        <!--Text Column-->
        <div class="text-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
                <div class="sec-title-three left-aligned">
                    <div class="sub-title">Gen Art Assets</div>
                    <h2>Generative Tokenization</h2>
                    <div class="lower-text">In the evolving landscape of generative art, decentralized digital contracts on the blockchain are key. These contracts facilitate collaboration among creators, data providers, and stakeholders, enabling real-time code and data contributions. This approach not only streamlines the production of significant art pieces but also ensures the protection of all parties' interests, marking a new era in digital art creation.</div>
                </div>
                <div class="text-content">
                    <div class="text-block">
                        <div class="title">
                            <span class="count">01</span>
                            <h4>GENERATIVE INTELLECTUAL PROPERTY SMART CONTRACTS</h4>
                        </div>
                        <div class="text">Generative IP smart contracts are sophisticated digital agreements on the blockchain, integrating elements like source code, algorithm creators, data providers, and stakeholders. These contracts are designed to define ownership rights and manage the aspects related to render smart contracts, whether offering them in a limited or unlimited capacity. This approach streamlines collaborations and significantly contributes to fostering innovation within the digital sphere.</div>
                    </div>
                    <div class="text-block">
                        <div class="title">
                            <span class="count">02</span>
                            <h4>Generative Art NFT</h4>
                        </div>
                        <div class="text">Generative NFTs', often addressed to art collectors and buyers, are unique digital tokens on the blockchain of a generative art piece. Each token comes with a unique serial number, representing a distinct variant produced by the Generative smart contract.</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Image Column-->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner clearfix">
                <figure class="image paroller" data-paroller-factor="-0.07" data-paroller-factor-lg="-0.07"
                    data-paroller-factor-md="-0.07" data-paroller-factor-sm="-0.07"
                    data-paroller-type="foreground" data-paroller-direction="horizontal"><img
                        src="/assets/images/resource/featured-image-10.jpg" alt=""></figure>
                <figure class="image paroller" data-paroller-factor="-0.07" data-paroller-factor-lg="-0.07"
                    data-paroller-factor-md="-0.07" data-paroller-factor-sm="-0.07"
                    data-paroller-type="foreground" data-paroller-direction="vertical"><img
                        src="/assets/images/resource/featured-image-11.png" alt=""></figure>
            </div>
        </div>
    </div>
</div>
</section>