<!--About Section-->
<section class="about-section-four">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-four left-aligned">
                        <div class="sub-title">about us</div>
                        <h2>Learn From Industry Experts</h2>
                        <div class="lower-text">Unparalleled Expertise Under One Roof</div>
                    </div>
                    <div class="text">
                        We unite leading DeFi experts in one hub, offering unparalleled insights and expertise in blockchain technology and DeFi tokenomics. Our dedicated team provides comprehensive educational courses, personalized consultations, and the latest research and analysis to empower your mastery of the evolving DeFi landscape. Join us for access to expert guidance.
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <div class="image-box">
                        <figure class="image wow rollIn"><img src="/assets/images/resource/featured-image-13.png"
                                alt=""></figure>
                        <div class="info-text wow fadeInLeft" data-wow-delay="1000ms">
                            <div class="count"><span></span></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>