<!--Call To Section-->
<section class="call-to-two">
    <div class="image-layer" style="background-image: url(/assets/images/background/image-3.jpg);"></div>
    <div class="auto-container">
        <div class="inner">
            <div class="images">
                <figure class="image"><img src="/assets/images/resource/bitcoin.png" alt=""></figure>
                <figure class="image"><img src="/assets/images/resource/solana.png" alt=""></figure>
                <figure class="image"><img src="/assets/images/resource/ethereum.png" alt=""></figure>
                <figure class="image"><img src="/assets/images/resource/tether.png" alt=""></figure>
            </div>
            <div class="content">
                <div class="sub-title">Free Course Trial</div>
                <h2>Limited spots available</h2>
                <div class="link-box">
                    <a href="contact.html" class="theme-btn btn-style-six"><span class="btn-title">Enroll Now!</span></a>
                </div>
            </div>
        </div>
    </div>
</section>