<!--Call To Section-->
<section class="call-to-section">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="auto-container">
        <div class="content">
            <div class="sub-title">Join Our Team</div>
            <h2>Ready to Take the Next Step in Your Career?</h2>
            <div class="link-box">
                <a href="https://www.linkedin.com/company/defitokenomic/jobs" class="theme-btn btn-style-two">
                    <span class="btn-title wow fadeInLeft" data-wow-delay="0ms"><span class="icon flaticon-briefcase"></span> View Job Listings</span>
                </a>
                <a href="contact.html" class="theme-btn btn-style-one">
                    <span class="btn-title wow fadeInRight" data-wow-delay="0ms">Contact Us</span>
                </a>
            </div>
        </div>
    </div>    
</section>