<!--Contact Section-->
<section class="info-section">
<div class="bubble-dotted">
    <span class="dotted dotted-1"></span>
    <span class="dotted dotted-2"></span>
    <span class="dotted dotted-3"></span>
    <span class="dotted dotted-4"></span>
    <span class="dotted dotted-5"></span>
    <span class="dotted dotted-6"></span>
    <span class="dotted dotted-7"></span>
    <span class="dotted dotted-8"></span>
    <span class="dotted dotted-9"></span>
    <span class="dotted dotted-10"></span>
</div>
<div class="image-layer" style="background-image: url(/assets/images/background/image-5.jpg);"></div>
<div class="auto-container">
    <div class="call-to-box">
        <div class="sec-title-three light centered">
            <div class="sub-title">Pre-launch beta</div>
            <h2>Exclusive early access.</h2>
            <div class="link-box clearfix">
                <a href="join.html" class="theme-btn btn-style-three"><span class="btn-title">Register</span></a>
            </div>
        </div>
    </div>
</div>
</section>
