<!--Services Section-->
<section class="services-section-four">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="faded-text">
        <div class="f-text"><span>services</span></div>
    </div>
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="sub-title">services</div>
            <h2>What We Do</h2>
        </div>
        <div class="tabs-box services-tabs">
            <div class="tab-buttons">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-4 col-md-4 col-sm-6">
                        <div class="btn-inner tab-btn active-btn" data-tab="#tab-1">
                            <span class="icon-bg pe-7s-graph2"></span>
                            <span class="icon pe-7s-graph2"></span>
                            <span class="txt">Strategy Development</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-md-4 col-sm-6">
                        <div class="btn-inner tab-btn" data-tab="#tab-2">
                            <span class="icon-bg pe-7s-config"></span>
                            <span class="icon pe-7s-config"></span>
                            <span class="txt">Technical Implementation</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-md-4 col-sm-6">
                        <div class="btn-inner tab-btn" data-tab="#tab-3">
                            <span class="icon-bg 
                            pe-7s-notebook"></span>
                            <span class="icon 
                            pe-7s-notebook"></span>
                            <span class="txt">Regulatory Compliance</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-md-4 col-sm-6">
                        <div class="btn-inner tab-btn" data-tab="#tab-4">
                            <span class="icon-bg pe-7s-graph1"></span>
                            <span class="icon pe-7s-graph1"></span>
                            <span class="txt">Risk Management</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-md-4 col-sm-6">
                        <div class="btn-inner tab-btn" data-tab="#tab-5">
                            <span class="icon-bg pe-7s-graph"></span>
                            <span class="icon pe-7s-graph"></span>
                            <span class="txt">Financial Structuring</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-md-4 col-sm-6">
                        <div class="btn-inner tab-btn" data-tab="#tab-6">
                            <span class="icon-bg pe-7s-display1"></span>
                            <span class="icon pe-7s-display1"></span>
                            <span class="txt">Market Analysis</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs-content">
                <!--Tab-->
                <div class="tab active-tab" id="tab-1">
                    <div class="tab-inner">
                        <div class="featured-service">
                            <div class="row clearfix">
                                <!-- Image Column -->
                                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="image-box">
                                            <img src="/assets/images/resource/STRATEGY-DEVELOPMENT.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Text Column -->
                                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="sec-title left-aligned">
                                            <div class="sub-title">Strategy Development</div>
                                            <h2>Chart Your Path to DeFi Success</h2>
                                        </div>
                                        <div class="text">Assistance in developing a comprehensive DeFi strategy tailored to the client's 
                                            business goals and objectives. </div>
                                        <div class="link-box clearfix">
                                            <a href="/quote"
                                                class="theme-btn btn-style-two"><span class="btn-title"><span
                                                        class="icon fa fa-dollar-sign"></span> Get quote</span></a>
                                            <a href="/contact"
                                                class="theme-btn btn-style-one"><span class="btn-title">contact
                                                    us</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tab-->
                <div class="tab" id="tab-2">
                    <div class="tab-inner">
                        <div class="featured-service">
                            <div class="row clearfix">
                                <!-- Image Column -->
                                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="image-box">
                                            <img src="/assets/images/resource/TECHNICAL-IMPLEMENTATION.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Text Column -->
                                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="sec-title left-aligned">
                                            <div class="sub-title">Technical Implementation</div>
                                            <h2>Seamless Integration for DeFi Solutions</h2>
                                        </div>
                                        <div class="text">Guidance on the technical aspects of implementing DeFi solutions, 
                                            including smart contract development, blockchain integration, and platform deployment.</div>
                                        <div class="link-box clearfix">
                                            <a href="/quote"
                                                class="theme-btn btn-style-two"><span class="btn-title"><span
                                                        class="icon fa fa-dollar-sign"></span> Get quote</span></a>
                                            <a href="/contact"
                                                class="theme-btn btn-style-one"><span class="btn-title">contact
                                                    us</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tab-->
                <div class="tab" id="tab-3">
                    <div class="tab-inner">
                        <div class="featured-service">
                            <div class="row clearfix">
                                <!-- Image Column -->
                                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="image-box">
                                            <img src="/assets/images/resource/REGULATORY-COMPLIANCE.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Text Column -->
                                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="sec-title left-aligned">
                                            <div class="sub-title">Regulatory Compliance</div>
                                            <h2>Navigate DeFi Regulations with Confidence</h2>
                                        </div>
                                        <div class="text">Advice on navigating the regulatory landscape of DeFi 
                                            to ensure compliance with relevant laws and regulations.</div>
                                        <div class="link-box clearfix">
                                            <a href="/quote"
                                                class="theme-btn btn-style-two"><span class="btn-title"><span
                                                        class="icon fa fa-dollar-sign"></span> Get Quote</span></a>
                                            <a href="/contact"
                                                class="theme-btn btn-style-one"><span class="btn-title">contact
                                                    us</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tab-->
                <div class="tab" id="tab-4">
                    <div class="tab-inner">
                        <div class="featured-service">
                            <div class="row clearfix">
                                <!-- Image Column -->
                                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="image-box">
                                            <img src="/assets/images/resource/RISK-MANAGEMENT.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Text Column -->
                                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="sec-title left-aligned">
                                            <div class="sub-title">Risk Management</div>
                                            <h2>Mitigate Risks, Maximize Returns in DeFi</h2>
                                        </div>
                                        <div class="text">Services focused on identifying, assessing, and mitigating risks 
                                            associated with DeFi projects, including security and financial risks.</div>
                                        <div class="link-box clearfix">
                                            <a href="/quote"
                                                class="theme-btn btn-style-two"><span class="btn-title"><span
                                                        class="icon fa fa-dollar-sign"></span> Get Quote</span></a>
                                            <a href="/contact"
                                                class="theme-btn btn-style-one"><span class="btn-title">contact
                                                    us</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tab-->
                <div class="tab" id="tab-5">
                    <div class="tab-inner">
                        <div class="featured-service">
                            <div class="row clearfix">
                                <!-- Image Column -->
                                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="image-box">
                                            <img src="/assets/images/gallery/38.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Text Column -->
                                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="sec-title left-aligned">
                                            <div class="sub-title">Financial Structuring</div>
                                            <h2>Optimize Your DeFi Investments</h2>
                                        </div>
                                        <div class="text">Guidance on the financial structuring of DeFi projects, including tokenomics, 
                                            liquidity management, and fundraising strategies.</div>
                                        <div class="link-box clearfix">
                                            <a href="/quote"
                                                class="theme-btn btn-style-two"><span class="btn-title"><span
                                                        class="icon fa fa-dollar-sign"></span> Get Quote</span></a>
                                            <a href="/contact"
                                                class="theme-btn btn-style-one"><span class="btn-title">contact
                                                    us</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tab-->
                <div class="tab" id="tab-6">
                    <div class="tab-inner">
                        <div class="featured-service">
                            <div class="row clearfix">
                                <!-- Image Column -->
                                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="image-box">
                                            <img src="/assets/images/resource/MARKET-ANALYSIS.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Text Column -->
                                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner">
                                        <div class="sec-title left-aligned">
                                            <div class="sub-title">Market Analysis</div>
                                            <h2>Unlock DeFi Market Insights</h2>
                                        </div>
                                        <div class="text">Insights and analysis on market trends, competitive 
                                            landscape, and potential opportunities within the DeFi space.</div>
                                        <div class="link-box clearfix">
                                            <a href="/quote"
                                                class="theme-btn btn-style-two"><span class="btn-title"><span
                                                        class="icon fa fa-dollar-sign"></span> Get Quote</span></a>
                                            <a href="/contact"
                                                class="theme-btn btn-style-one"><span class="btn-title">contact
                                                    us</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include testimonials.html %}