<!--Featured Title-->
<div class="text-column col-lg-6 col-md-12 col-sm-12">
    <div class="inner">
    <section class="welcome-section">
        <div class="sec-title-three left-aligned">
            <div class="sub-title">Galleries</div>
            <h2>Galleries.</h2>
            <div class="lower-text">Join the network of generative art galleries.</div>
        </div>
    </section>
    </div>
</div>
<!--Featured Section-->
<section class="featured-section-three">
    <div class="map-layer">
        <div class="bg-layer"></div>
        <div class="map-content">
            <div class="location-point loc-one wow bounceInUp" data-wow-delay="0ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/galerie-temps.png" alt=""></div>
                    <h5>Galerie Du Temps</h5>
                    <div class="info">Geneva, Switzerland</div>
                </div>
            </div>
        </div>
    </div>
</section>