<!--Services Section-->
<section class="features-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box hvr-bob">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>01</span></div>
                    <div class="icon-box"><span class="flaticon-wizard-1"></span></div>
                    <h4>Training Programs</h4>
                    <div class="text">
                        We offer tailored training programs for institutions on blockchain basics, advanced governance, and specialized legal and risk management training for effective DeFi implementation.</div>
                    <div class="more-link"><a href="/training">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box hvr-bob">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>02</span></div>
                    <div class="icon-box"><span class="flaticon-settings-3"></span></div>
                    <h4>Consultation Services</h4>
                    <div class="text">We offer personalized business and technical guidance to help institutions integrate DeFi solutions, covering project advice, system design, and compliance.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box hvr-bob">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>03</span></div>
                    <div class="icon-box"><span class="flaticon-worldwide-1"></span></div>
                    <h4>Research and Analysis</h4>
                    <div class="text">We do market analysis with regular reports on DeFi trends and performance, alongside custom research tailored to specific tokens, projects, or market segments.</div>
                    <div class="more-link"><a href="https://learn.tokenomic.org">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box hvr-bob">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>04</span></div>
                    <div class="icon-box"><span class="flaticon-user-3"></span></div>
                    <h4>Workshops</h4>
                    <div class="text">Live workshops offer interactive, hands-on sessions and insightful online seminars on current trends and future predictions in the DeFi space.</div>
                    <div class="more-link"><a href="training.html#2">Read More</a></div>
                </div>
            </div>
        </div>

        <!--Link Box-->
        <div class="link-box">
            <a href="contact.html" class="theme-btn btn-style-three"><span class="btn-title">contact us</span></a>
        </div>
    </div>
</section>