<!--Featured Section-->
<section class="featured-section">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-two">
                        <div class="sub-title">Training</div>
                        <h2>Unlock the Power of DeFi</h2>
                        <div class="lower-text">Learn from the leaders in DeFi with our structured courses and practical workshops.</div>
                    </div>
                    <div class="content-box">
                        <div class="feature-block-two">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="icon"><span class="flaticon-worldwide-1"></span></div>
                                    <h4>Courses</h4>
                                    <div class="text">Enhance your career with our comprehensive DeFi courses, covering everything from blockchain basics to advanced governance, equipping you with in-demand skills for the tech and finance industries.</div>
                                </div>
                            </div>
                        </div>
                        <div class="feature-block-two">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="icon"><span class="flaticon-edit"></span></div>
                                    <h4>Workshops</h4>
                                    <div class="text">Gain hands-on experience and valuable insights through our live DeFi workshops and webinars, where you can apply knowledge in real-world scenarios and network with industry experts and peers.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <figure class="image wow fadeInRight"><img class="tilt-item" src="/assets/images/resource/defi-classroom.png" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>