<footer class="main-footer">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="widget-content">
                            <div class="footer-logo">
                                <a href="{{site.url}}"><img src="{{site.logo_url}}" alt="{{site.title}}"/></a>
                            </div>
                            <div class="text">
                                We are a leading provider of DeFi education and consulting services, dedicated to empowering institutions with the knowledge and tools needed to navigate and succeed in the decentralized finance landscape.
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <h3>Pages<span>.</span></h3>
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="{{site.url}}">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/training">Training</a></li>
                                        <li><a href="https://learn.tokenomic.org">Learn</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget news-widget">
                        <h3>News feeds<span>.</span></h3>
                        <div class="widget-content">
                            {% for post in site.posts limit: 3 %}
                            <div class="news-post">
                            	{% if post.post_image %}
                                <div class="post-thumb">
                                    <a href="{{post.url}}">
                                    	<img src="{{post.post_image}}" alt="{{post.title}}"/>
                                    </a>
                                </div>
                                {% endif %}
                                <h5><a href="{{post.url}}">{{post.title | truncatewords: 5}}</a></h5>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="outer-table clearfix">
                {% if site.phone_number %}
                <div class="info-block">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-telephone-1"></span></div>
                        <span class="info-title">Phone Number</span>
                        <div class="phone"><a href="tel:{{site.phone_number}}">{{site.phone_number}}</a></div>
                    </div>
                </div>
                {% endif %}
                {% if site.email %}
                <div class="info-block">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-envelope"></span></div>
                        <span class="info-title">email address</span>
                        <div class="email"><a href="mailto:{{site.email}}">{{site.email}}</a></div>
                    </div>
                </div>
                {% endif %}
                {% if site.office_address %}
                <div class="info-block">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-placeholder"></span></div>
                        <span class="info-title">office address</span>
                        <div class="address"><a href="#">{{site.office_address}}</a></div>
                    </div>
                </div>
                {% endif %}
                <div class="info-block">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-share"></span></div>
                        <span class="info-title">social connect</span>
                        <div class="social-links">
                            {% if site.facebook_url %}
                            <a href="{{site.facebook_url}}">fb</a>, 
                            {% endif %}
                            {% if site.twitter_url %}
                            <a href="{{site.twitter_url}}">tw</a>, 
                            {% endif %}
                            {% if site.instagram_url %}
                            <a href="{{site.instagram_url}}">ig</a>,
                            {% endif %}
                            {% if site.youtube_url %}
                            <a href="{{site.youtube_url}}">yu</a>,
                            {% endif %}
                            {% if site.youtube_url %}
                            <a href="{{site.reddit_url}}">re</a>,
                            {% endif %}
                            {% if site.linkedin_url %}
                            <a href="{{site.linkedin_url}}">in</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>