<footer class="main-footer alternate">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="widget-content">
                            <div class="footer-logo">
                                <a href="{{site.url}}"><img src="{{site.logo_url}}" alt="{{site.title}}"/></a>
                            </div>
                            <div class="text">
                                We are a creative coding agency specializing in generative projects. We focus on creating art pieces using autonomous agents and other generative methods, which allows us to produce unique and dynamic artworks. Our agency is active across various platforms, showcasing the works of latest generative art projects and connecting with a community of followers and clients who share an interest in this niche field of digital art.
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <h3>Company<span>.</span></h3>
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="https://expo.generatedart.com/">Exhibitions</a></li>
                                        <li><a href="https://deco.generatedart.com/">Decoration</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <h3>Art<span>.</span></h3>
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="/artists">Artists</a></li>
                                        <li><a href="#">Collections</a></li>
                                        <li><a href="#">Apply</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                        <h3>Newsletter<span>.</span></h3>
                        <div class="widget-content">
                            <div class="newsletter-form">
                                <form action="http://eepurl.com/inde32">
                                    <div class="form-group clearfix">
                                        <span class="input-icon fa flaticon-envelope"></span>
                                        <input type="email" name="user_email" placeholder="Enter email address" required>
                                        <button type="submit" class="theme-btn newsletter-btn">Subscribe Now</button>
                                    </div>
                                </form>
                            </div>
                            <div class="get-link"><a href="#">Get every single offers</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="outer-table clearfix">
                {% if site.phone_number %}
                <div class="info-block">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-telephone-1"></span></div>
                        <span class="info-title">Phone Number</span>
                        <div class="phone"><a href="tel:{{site.phone_number}}">{{site.phone_number}}</a></div>
                    </div>
                </div>
                {% endif %}
                {% if site.email %}
                <div class="info-block">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-envelope"></span></div>
                        <span class="info-title">email address</span>
                        <div class="email"><a href="mailto:{{site.email}}">{{site.email}}</a></div>
                    </div>
                </div>
                {% endif %}
                {% if site.office_address %}
                <div class="info-block">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-placeholder"></span></div>
                        <span class="info-title">office address</span>
                        <div class="address"><a href="#">{{site.office_address}}</a></div>
                    </div>
                </div>
                {% endif %}
                <div class="info-block">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-share"></span></div>
                        <span class="info-title">social connect</span>
                        <div class="social-links">
                        	{% if site.facebook_url %}
                             <a href="{{site.facebook_url}}">fb</a>, 
                            {% endif %}
                            {% if site.twitter_url %}
                            <a href="{{site.twitter_url}}">tw</a>, 
                            {% endif %}
                            {% if site.behance_url %}
                            <a href="{{site.behance_url}}">be</a>, 
                            {% endif %}
                            {% if site.dribbble_url %}
                            <a href="{{site.dribble_url}}">dr</a>,
                            {% endif %}
                            {% if site.youtube_url %}
                            <a href="{{site.youtube_url}}">yu</a>,
                            {% endif %}
                            {% if site.instagram_url %}
                            <a href="{{site.instagram_url}}">ig</a>,
                            {% endif %}
                            {% if site.instagram_url %}
                            <a href="{{site.linkedin_url}}">in</a>,
                            {% endif %}
                            {% if site.instagram_url %}
                            <a href="{{site.tiktok_url}}">tk</a>,
                            {% endif %}
                            {% if site.instagram_url %}
                            <a href="{{site.tumblr_url}}">tb</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>