<!--Services Section-->
<section class="services-section-three">
    <div class="outer-container clearfix">
        <div class="row clearfix">
            <!--Block-->
            <div class="service-block-three col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-worldwide-1"></span></div>
                                <div class="count">01</div>
                                <h3>Introduction to DeFi
                                    <br>
                                </h3>
                                <br>
                                <div class="text">Familiarize participants with the basic concepts of DeFi, its history, and its distinction from traditional finance.</br></div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/15.png);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/15.png" alt=""></figure>
                                <a href="intro-defi.html" class="overlink"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-three col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-paint-brush-1"></span></div>
                                <div class="count">02</div>
                                <h3>Technical Foundations of Blockchain & DeFi</h3>
                                <div class="text">Provide a deeper technical understanding of the technologies that underpin DeFi.</div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/16.png);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/16.png" alt=""></figure>
                                <a href="technical-foundations.html" class="overlink"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-three alternate col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/18.png);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/18.png" alt=""></figure>
                                <a href="defi-tokenomics.html" class="overlink"></a>
                            </div>
                        </div>
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-vector"></span></div>
                                <div class="count">03</div>
                                <h3>DeFi Tokenomics & Valuation</h3>
                                <div class="text">Understand the economic models and valuation techniques for DeFi tokens.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-three alternate col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/3.png);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/3.png" alt=""></figure>
                                <a href="defi-products.html" class="overlink"></a>
                            </div>
                        </div>
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-user-3"></span></div>
                                <div class="count">04</div>
                                <h3>DeFi Products & Services</h3>
                                <div class="text">Explore the range of products and services available in the DeFi ecosystem.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!--Block-->
            <div class="service-block-three alternate col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-user-3"></span></div>
                                <div class="count">05</div>
                                <h3>Risk Management in DeFi
                                    <br>
                                </h3>
                                <br>
                                <div class="text">Equip participants with the knowledge to identify and manage risks in DeFi.</div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/4.png);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/4.png" alt=""></figure>
                                <a href="risk-management.html" class="overlink"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!--Block-->
            <div class="service-block-three alternate col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-user-3"></span></div>
                                <div class="count">06</div>
                                <h3>Regulatory Environment & Compliance</h3>
                                <div class="text">Provide an understanding of the regulatory landscape affecting DeFi globally.</div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/5.png);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/5.png" alt=""></figure>
                                <a href="regulatory-environment.html" class="overlink"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!--Block-->
            <div class="service-block-three alternate col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/6.png);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/6.png" alt=""></figure>
                                <a href="implementation-strategies.html" class="overlink"></a>
                            </div>
                        </div>
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-user-3"></span></div>
                                <div class="count">07</div>
                                <h3>Implementation Strategies for Institutions</h3>
                                <div class="text">Guide institutions on how to integrate and leverage DeFi technologies.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-three alternate col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/1.png);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/1.png" alt=""></figure>
                                <a href="advanced-defi.html" class="overlink"></a>
                            </div>
                        </div>
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-user-3"></span></div>
                                <div class="count">08</div>
                                <h3>Advanced DeFi Strategies
                                    <br>
                                </h3>
                                <br>
                                <br>
                                <div class="text">Dive into advanced strategies utilized within DeFi markets.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>