<!--Featured Section-->
<section class="featured-section-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <figure class="image wow fadeInLeft"><img class="tilt-item" src="/assets/images/resource/defi-consultation.png" alt=""></figure>
                </div>
            </div>
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-two">
                        <div class="sub-title">Services</div>
                        <h2>Complete Blockchain Services for Your Success</h2>
                        <div class="lower-text">Explore the power of blockchain with our all-in-one service suite. Whether it's through expert training, fundraising support, technical help, market insights, or legal guidance, we provide everything you need to succeed in today's digital world.</div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Training</li>
                            <li>Fundraising</li>
                            <li>Technical Support</li>
                            <li>Market Analysis</li>
                            <li>Legal Advise</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>