<!-- Hidden Navigation Bar -->
<section class="hidden-bar right-align">
    <div class="hidden-bar-closer">
        <button><span class="flaticon-letter-x"></span></button>
    </div>
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="logo">
            <a href="index-2.html"><img src="{{relative_url}}/assets/images/logo.png" alt="" /></a>
        </div>
        <div class="content-box">
            <h3>Get In Touch</h3>
            <div class="text">Don't miss this chance to be among the first to experience our beta version! Register for our waitlist today and get exclusive early access. </div>
            <a href="about.html" class="theme-btn btn-style-two"><div class="btn-title">Join Waitlist</div></a>
        </div>
        <div class="contact-info">
            <h2>Contact Info</h2>
            <ul class="list-style-two">
                <li><span class="icon fa fa-map-marker-alt"></span>Rue Gourgas 3, 1205 Geneva, Switzerland</li>
                <li><span class="icon fa fa-envelope-open"></span> <a href="mailto:info@generatedart.com">info@generatedart.com</a></li>
                <li><span class="icon fa fa-clock"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
            </ul>
        </div>
    </div>
    <!-- / Hidden Bar Wrapper -->
</section>
<!-- End / Hidden Bar -->