<!--Skills Section-->
<section class="about-section-three" id="scroll-section">
<div class="auto-container">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="row clearfix">
        <!--Text Column-->
        <div class="text-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
                <div class="sec-title-three left-aligned">
                    <div class="sub-title">PAAS</div>
                    <h2>Collaborate & exhibit</h2>
                    <div class="lower-text">A decentralised platform merging creative coding and data sharing with digital contracts and federated security, boosting project quality and efficiency. It also features a Global Generative Art Exhibition for global art discovery and acquisition through an intuitive app.</div>
                </div>
                <div class="text-content">
                    <div class="text-block">
                        <div class="title">
                            <span class="count">03</span>
                            <h4>P2P Creative Coding & Data Provisioning</h4>
                        </div>
                        <div class="text">A peer-to-peer blockchain platform enhances creative coding and data sharing, offering equitable recognition and strong protection. Digital contracts specify roles and contributions, and federated models maintain data security, improving project quality and collaboration.</div>
                    </div>
                    <div class="text-block">
                        <div class="title">
                            <span class="count">04</span>
                            <h4>Global Generative Art Exhibition Listing</h4>
                        </div>
                        <div class="text">The Global Generative Art Exhibition feature provides a platform for exploring and purchasing generative art worldwide. Users can navigate through cities using an intuitive app and buy physical artworks directly by scanning QR codes linked to crypto wallets. This feature seamlessly connects digital and physical art, offering a secure and convenient art buying experience.</div>
                    </div>
                </div>
            </div>
        </div>
                    <!--Image Column-->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <figure class="image">
                                <img src="/assets/images/resource/featured-image-12.png" alt="">
                            </figure>
                        </div>
                    </div>
    </div>
</div>
</section>

