<!--Skills Section-->
<section class="about-section-three" id="scroll-section">
    <figure class="floated-image-1"><img src="/assets/images/resource/featured-image-8.jpg" alt=""></figure>
    <figure class="floated-image-2"><img src="/assets/images/resource/featured-image-9.jpg" alt=""></figure>
    <div class="auto-container">
        <div class="bubble-dotted">
            <span class="dotted dotted-1"></span>
            <span class="dotted dotted-2"></span>
            <span class="dotted dotted-3"></span>
            <span class="dotted dotted-4"></span>
            <span class="dotted dotted-5"></span>
            <span class="dotted dotted-6"></span>
            <span class="dotted dotted-7"></span>
            <span class="dotted dotted-8"></span>
            <span class="dotted dotted-9"></span>
            <span class="dotted dotted-10"></span>
        </div>
        <div class="row clearfix">
        <!--Text Column-->
        <div class="text-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
                <div class="sec-title-three left-aligned">
                    <div class="sub-title">PAAS</div>
                    <h2>Collaborate and exhibit</h2>
                    <div class="lower-text">Creative coding and data sharing are merged on a blockchain platform with digital contracts and federated data security models, ensuring equitable recognition and protection. This approach enhances the quality and efficiency of creative projects and includes a Global Generative Art Exhibition feature for discovering and acquiring art globally through an intuitive app.</div>
                </div>
                <div class="text-content">
                    <div class="text-block">
                        <div class="title">
                            <span class="count">03</span>
                            <h4>Peer-to-Peer Creative Coding and Data Provisioning</h4>
                        </div>
                        <div class="text">Creative coding and data sharing are revolutionized through a peer-to-peer blockchain platform, ensuring equitable recognition and robust protection for all participants. Anchored by digital contracts, this approach clearly defines each party's contributions and roles, while federated models uphold data integrity and security. This system fosters collaborative harmony and significantly boosts the quality and efficiency of creative projects.</div>
                    </div>
                    <div class="text-block">
                        <div class="title">
                            <span class="count">04</span>
                            <h4>Global Generative Art Exhibition Listing</h4>
                        </div>
                        <div class="text">The Global Generative Art Exhibition feature offers a unique platform for art enthusiasts and collectors to explore and purchase generative art globally. An intuitive navigation app guides users through various cities, enabling the direct purchase of physical artworks via QR code scan, integrated with crypto wallets. This feature effectively bridges the digital and physical art realms, providing a convenient and secure experience for art discovery and acquisition.</div>
                    </div>
                </div>
            </div>
        </div>
                    <!--Image Column-->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <figure class="image">
                                <img src="/assets/images/resource/featured-image-12.png" alt="">
                            </figure>
                        </div>
                    </div>
        </div>
    </div>
</section>