<!--Skills Section-->
<section class="skills-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-three left-aligned">
                        <div class="sub-title">PAAS</div>
                        <h2>Collaborate and exhibit</h2>
                        <div class="lower-text">Creative coding and data sharing are merged on a blockchain platform with digital contracts and federated data security models, ensuring equitable recognition and protection. This approach enhances the quality and efficiency of creative projects and includes a Global Generative Art Exhibition feature for discovering and acquiring art globally through an intuitive app.</div>
                    </div>
                    <div class="content">
                        <div class="counter-block-two">
                            <div class="inner">
                                <span class="count">01</span>
                                <h4>Peer-to-Peer Creative Coding and Data Provisioning</h4>
                                <div class="text">Creative coding and data sharing are revolutionized through a peer-to-peer blockchain platform, ensuring equitable recognition and robust protection for all participants. Anchored by digital contracts, this approach clearly defines each party's contributions and roles, while federated models uphold data integrity and security. This system fosters collaborative harmony and significantly boosts the quality and efficiency of creative projects.</div>
                            </div>
                        </div>
                        <div class="counter-block-two">
                            <div class="inner">
                                <span class="count">02</span>
                                <h4>Global Generative Art Exhibition Listing</h4>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <figure class="image">
                        <img src="/assets/images/resource/featured-image-12.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>